<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
	</title>
	<link rel = "stylesheet" href="assets/css/cssLogin.css">
	<link rel = "stylesheet" href="assets/font-awesome-4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="container">
		<img src="/assets/man.png">
		<form method="post" >
			<div class="form-input">
				<input type="text" id="un" name="username" placeholder="Enter Username">
			</div>
			<div class="form-input">
				<input type="password" id="pass" name="password" placeholder="Enter Password">
			</div>
			</br>
			<input type="submit" value="LOGIN" class="btn-login" >
			<br/>
			<p id="crd"></p>
			<br/>
			<a href="#">Forget Password || </a> <a href="/signup">Create new account</a>
		</form>
	</div>
</body>
</html>
